<a href="https://colab.research.google.com/github/DeepeshMadane/Machine-learning-/blob/main/Emission_in_us.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
import numpy as np

In [50]:
dataset=pd.read_csv('/content/emissions[1].csv')

In [51]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [52]:
print(x)

[[1970 'Alabama' 'Industrial carbon dioxide emissions' 'Coal']
 [1970 'Alabama' 'Industrial carbon dioxide emissions' 'Petroleum']
 [1970 'Alabama' 'Industrial carbon dioxide emissions' 'Natural Gas']
 ...
 [2021 'Wyoming' 'Residential carbon dioxide emissions' 'Natural Gas']
 [2021 'Wyoming' 'Residential carbon dioxide emissions' 'Petroleum']
 [2021 'Wyoming' 'Total carbon dioxide emissions from all sectors'
  'Petroleum']]

In [53]:
missing_values=dataset.isnull().sum()

In [54]:
print(missing_values)

year           0
state-name     0
sector-name    0
fuel-name      0
value          0
dtype: int64

In [55]:
print(y)

[26.721507  3.577779  8.944097 ...  0.717777  0.220212 10.198574]

In [56]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer([('encoding', OneHotEncoder(), [0])])
x = ct.fit_transform(x)
print(x)

  (0, 0)	1.0
  (1, 0)	1.0
  (2, 0)	1.0
  (3, 0)	1.0
  (4, 0)	1.0
  (5, 0)	1.0
  (6, 0)	1.0
  (7, 0)	1.0
  (8, 0)	1.0
  (9, 0)	1.0
  (10, 0)	1.0
  (11, 0)	1.0
  (12, 0)	1.0
  (13, 0)	1.0
  (14, 0)	1.0
  (15, 0)	1.0
  (16, 0)	1.0
  (17, 0)	1.0
  (18, 0)	1.0
  (19, 0)	1.0
  (20, 0)	1.0
  (21, 0)	1.0
  (22, 0)	1.0
  (23, 0)	1.0
  (24, 0)	1.0
  :	:
  (59876, 51)	1.0
  (59877, 51)	1.0
  (59878, 51)	1.0
  (59879, 51)	1.0
  (59880, 51)	1.0
  (59881, 51)	1.0
  (59882, 51)	1.0
  (59883, 51)	1.0
  (59884, 51)	1.0
  (59885, 51)	1.0
  (59886, 51)	1.0
  (59887, 51)	1.0
  (59888, 51)	1.0
  (59889, 51)	1.0
  (59890, 51)	1.0
  (59891, 51)	1.0
  (59892, 51)	1.0
  (59893, 51)	1.0
  (59894, 51)	1.0
  (59895, 51)	1.0
  (59896, 51)	1.0
  (59897, 51)	1.0
  (59898, 51)	1.0
  (59899, 51)	1.0
  (59900, 51)	1.0

In [57]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [58]:
print(x_train)

  (0, 46)	1.0
  (1, 8)	1.0
  (2, 10)	1.0
  (3, 0)	1.0
  (4, 8)	1.0
  (5, 41)	1.0
  (6, 46)	1.0
  (7, 26)	1.0
  (8, 18)	1.0
  (9, 16)	1.0
  (10, 46)	1.0
  (11, 43)	1.0
  (12, 26)	1.0
  (13, 13)	1.0
  (14, 12)	1.0
  (15, 3)	1.0
  (16, 41)	1.0
  (17, 50)	1.0
  (18, 18)	1.0
  (19, 48)	1.0
  (20, 47)	1.0
  (21, 2)	1.0
  (22, 20)	1.0
  (23, 3)	1.0
  (24, 45)	1.0
  :	:
  (47895, 14)	1.0
  (47896, 33)	1.0
  (47897, 32)	1.0
  (47898, 4)	1.0
  (47899, 2)	1.0
  (47900, 48)	1.0
  (47901, 51)	1.0
  (47902, 0)	1.0
  (47903, 1)	1.0
  (47904, 34)	1.0
  (47905, 13)	1.0
  (47906, 37)	1.0
  (47907, 40)	1.0
  (47908, 18)	1.0
  (47909, 31)	1.0
  (47910, 14)	1.0
  (47911, 5)	1.0
  (47912, 47)	1.0
  (47913, 9)	1.0
  (47914, 38)	1.0
  (47915, 46)	1.0
  (47916, 32)	1.0
  (47917, 0)	1.0
  (47918, 13)	1.0
  (47919, 48)	1.0